<div *ngIf="profSelected">
  <div class="row">
    <div class="mr-auto">
      <app-titre [titre]="'Enseignant: ' + profSelected"></app-titre>
    </div>
    <div class="mt-1">
      <button class="btn btn-warning" (click)="retour()">Listes des Enseignants</button>
    </div>
  </div>

  <form>
    <div class="form-group">
      <label for="formGroupExampleInput">Prenom</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Matière</label>
      <input type="text" class="form-control">
    </div>
  </form>
</div>
<div *ngIf="!profSelected">
  <app-titre [titre]="titre"></app-titre>

  <table class="table table-hover">
    <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Prenom</th>
      <th scope="col">Matière</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let prof of enseignats"
        style="cursor: pointer" (click)="profSelect(prof)">
      <th scope="row">{{prof.id}}</th>
      <td>{{prof.firstname}}</td>
      <td>{{prof.subject}}</td>
    </tr>
    </tbody>
  </table>
</div>
